# ==========================================
# NODE / REACT
# ==========================================

node_modules/
frontend/node_modules/

dist/
frontend/dist/

*.log
npm-debug.log*


# ==========================================
# PYTHON
# ==========================================

venv/
backend/venv/
ml/venv/

__pycache__/
*.py[cod]

.pytest_cache/


# ==========================================
# JUPYTER
# ==========================================

.ipynb_checkpoints/


# ==========================================
# ENVIRONMENT VARIABLES
# ==========================================

.env
.env.*
!.env.example


# ==========================================
# IDE / EDITOR
# ==========================================

.vscode/
.idea/


# ==========================================
# OPERATING SYSTEM
# ==========================================

.DS_Store
Thumbs.db